/*Importa a fonte "Open Sans" da Google Fonts, com pesos 400 e 500, para ser usada no documento*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* { /*Zera as margens e preenchimentos padrão e define a fonte global para 'Open Sans'*/
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {/*Define o corpo da página com altura total da viewport, um fundo de gradiente linear e configurações de flexbox para centralizar o conteúdo*/
    height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Define estilos comuns para diversas seções, incluindo fundo preto, texto branco, borda arredondada, espaçamento de letras, sombra e margem inferior */
.titulo, .cidade, .data div, .atualidade, .relogio div, .clima {
    background-color: black;
    color: white;
    border-radius: 10px;
    letter-spacing: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    margin-bottom: 20px; /* Adiciona espaço entre as divs */
}

.titulo { /*Especifica estilos adicionais para o título, usando uma fonte diferente, aumentando o tamanho e tornando o texto mais negrito*/
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
}
.cidadeInput {
    width: 200px;
    height: 60px;
    font-size: 16px; 
    text-align: center;
}
.data div { /*Define estilos para a seção da semana, configurando a exibição flexível, cor do texto, tamanho da fonte e peso da fonte*/
    margin-bottom: 50px;
    display: flex;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.atualidade { /*Configura estilos para a seção de atualidade, ajustando o tamanho da fonte e o peso da fonte*/
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bolder;
}


.relogio span { /*Configura estilos para as <span> dentro da seção do relógio, ajustando o peso da fonte e o tamanho da fonte*/
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo { /*Define estilos específicos para as <span> com a classe "tempo" dentro da seção do relógio, ajustando o tamanho da fonte*/
    font-size: 10px;
}

.clima { /*Configura estilos para a seção de clima e umidade, ajustando o tamanho da fonte e a margem superior para separação*/
    font-size: 3em;
    margin-top: 30px;
}
