@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adicionado para garantir que o tamanho total dos elementos inclua preenchimento e borda */
}

body {
    min-height: 100vh;
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.titulo {
    margin-bottom: 20px;
    font-size: 3vw;
    font-weight: bolder;
}

.cidadeInput {
    width: 100%;
    max-width: 300px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.data div, .atualidade, .relogio div, .clima {
    background-color: black;
    color: white;
    border-radius: 10px;
    letter-spacing: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    margin-bottom: 20px;
    padding: 10px;
}

.data div {
    font-size: 3vw;
    font-weight: bolder;
}

.atualidade, .relogio span, .relogio span.tempo, .clima {
    font-size: 2.5vw;
}

#mapa {
    height: 200px; /* Ajuste a altura conforme necessário */
    width: 80%; /* Use uma largura relativa para melhorar a responsividade */
    max-width: 400px; /* Limite a largura para evitar que o mapa se torne muito largo */
    margin-bottom: 20px;
}
